.NewsSocialBlock {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.NewsSocialBlock__item {
  margin-bottom: 15px;
}

.NewsSocialBlock__item svg {
  fill: #75c8d2;
  cursor: pointer;
  transition: fill 0.15s linear;
  margin: auto;
  display: block;
}

.NewsSocialBlock__item:hover svg {
  fill: #3c4a61;
}

@media only screen and (max-width: 980px) {
  .NewsSocialBlock__item {
    display: inline-block;
    width: 50px;
    padding: 14px 0;
  }

  .NewsSocialBlock__item:hover svg {
    fill: #75c8d2;
  }
}
