.Button {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  border-style: none;
  cursor: pointer;
  font-weight: 200;
  font-family: inherit;
  font-size: 18px;
  transition: color 0.15s linear, background-color 0.15s linear,
    border-color 0.15s linear;
}

.Button_shape_square {
  display: block;
  height: 70px;
  width: 70px;
  margin: 0 auto 15px;
  font-size: 48px;
  border-color: none;
  border-style: none;
  line-height: 70px;
  background: #8dc63f;
}

.Button_shape_rect {
  width: 290px;
  padding: 15px 22px;
  line-height: 1;
  letter-spacing: 0.3px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.Button_color_aqua {
  color: #fff;
  background: #75c8d2;
  border-color: #75c8d2;
}
.Button_color_green {
  color: #fff;
  background: #8dc63f;
  border-color: #8dc63f;
}

.Button__arrow {
  position: absolute;
  right: 5%;
  transition: stroke 0.15s linear;
}

.Button_color_green .Button__arrow {
  height: 20px;
  stroke: #fff;
}

.Button_color_blue .Button__arrow {
  height: 20px;
  stroke: #3c4a61;
}

.Button_shape_pseudo {
  padding: 0;
}

.Button_shape_pseudo .Button__arrow {
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.Button_color_trans {
  border-color: transparent;
  background: transparent;
}

.Button_color_blue {
  color: #3c4a61;
  border-color: #3c4a61;
  background: transparent;
}
.Button_color_green-trans {
  border-color: #8dc63f;
  color: #8dc63f;
  background: transparent;
}
.Button_color_green-trans .Button__arrow {
  height: 20px;
  stroke: #8dc63f;
}

.Button_bg_blue {
  background-color: #3c4a61;
  border-color: #3c4a61;
  color: #fff;
}

@media only screen and (min-width: 981px) {
  .Button {
    transition: color 0.15s linear, background 0.15s linear,
      border-color 0.15s linear;
  }
  .Button_hover_trans:hover {
    color: #8dc63f;
    background: transparent;
  }

  .Button_hover_trans-white:hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
  }

  .Button_hover_trans-white:hover .Button__arrow {
    stroke: #fff;
  }

  .Button_hover_blue:hover {
    color: #fff;
    background: #3c4a61;
  }
  .Button_hover_green:hover {
    color: #fff;
    background: #8dc63f;
  }
  .Button_hover_green:hover .Button__arrow {
    stroke: #fff;
  }

  .Button_hover_trans:hover .Button__arrow {
    stroke: #8dc63f;
  }

  .Button_hover_blue:hover .Button__arrow {
    stroke: #fff;
  }
}
