.Carousel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Carousel__slick {
  overflow: hidden;
  width: 100%;
}

.Carousel_controls_out .Carousel__slick {
  max-width: 90%;
  box-sizing: border-box;
  margin: auto;
}

.Carousel__inner {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.Carousel__inner_in-transition {
  transition: margin-left ease-out 0.4s;
}

.Carousel__slide {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Carousel__slide img {
  display: block;
  width: 100%;
  height: auto;
}

.Carousel__link {
  display: inline-block;
  margin: auto;
}

.Carousel__btn {
  position: absolute;
  height: 40px;
  width: 12px;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  cursor: pointer;
  background: transparent;
}

.Carousel__btn .Button {
  display: block;
  background: transparent;
  width: 100%;
  height: 100%;
}

.Carousel__btn .Button .Button__arrow {
  stroke: #fff;
}

.Carousel_controls_hide .Carousel__btn {
  display: none;
}

.Carousel_controls_out .Carousel__btn_direction_left {
  left: 0;
}

.Carousel_controls_out .Carousel__btn_direction_right {
  right: 0;
}

.Carousel_controls_out .Carousel__btn .Button__arrow {
  stroke: #3c4a61;
}

.Carousel__btn .Button:hover .Button__arrow {
  stroke: #3c4a61;
  background-color: transparent;
}

.Carousel_controls_in .Carousel__btn_direction_left {
  left: 2%;
}

.Carousel_controls_in .Carousel__btn_direction_right {
  right: 2%;
}

@media only screen and (max-width: 1220px) {
  .Carousel_controls_hide .Carousel__slick {
    max-width: 95%;
    margin: auto;
  }
}
