.NewsSearch {
  display: flex;
  margin-left: auto;
}

.NewsSearch__input {
  width: 250px;
  height: 50px;
  padding: 18px 20px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #fff;
}

.NewsSearch__input:focus {
  border: 1px solid #3c4a61;
  outline: none;
}

.NewsPage__search .Button {
  width: 50px;
  height: 50px;
}
.NewsPage__search .Button .Button__arrow {
  position: relative;
  right: 10%;
  width: 50px;
  height: 27px;
  margin: 0;
  transform: translateY(-50%);
}
